@import url(./global-style.css);

:host {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'LMU CompatilFact', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: 32px 32px;
  min-height: 100vh;
}

header {
  display: flex;
  height: 2rem;
  background-color: var(--primary-highlight-color);
  color: #ffffff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header a {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, .2);
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 .5rem;
}

main {
  height: 100%;
  overflow: hidden;
  flex: 1;
}
