@import url(/css/global-style.css);

:host {
  display: flex;
  flex-direction: column;
}

ul {
  display: block;
  list-style-type: none;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  padding: .5rem 1rem;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  margin: .25rem .25rem 0 0;
}

li.active {
  color: var(--primary-highlight-color);
}

.tab-wrapper {
  display: flex;
  flex: 1;
}

grml-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
}
